{% extends "base.html" %}

{% block content %}
<div class="form-container">
    <h2>Register</h2>

    {% if register_user_form.errors %}
    <div style="background-color: 58181F; color: #F0A0A0; padding: 10px; border-radius: 4px; margin-bottom: 15px; border: 1px solid #822C33">
        {% for field, errors in register_user_form.errors.items() %}
            {% for error in errors %}
                <p style="margin: 0;">{{ field }}: {{ error }}</p>
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
    <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
        {{ register_user_form.hidden_tag() }}

        <div>
            <label for="email">Email Address</label>
            {{ register_user_form.email() }}
        </div>

        <div>
            <label for="password">Password</label>
            {{ register_user_form.password() }}
        </div>

        {% if register_user_form.password_confirm %}
        <div>
            <label for="password_confirm">Confirm Password</label>
            {{ register_user_form.password_confirm() }}
        </div>
        {% endif %}

        <button type="submit">Register</button>
    </form>
</div>
{% endblock %}
